# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
special-equipment-backend/out/
tmlog.lck
special-equipment-backend/src/main/resources/application.yml
special-equipment-backend/build/
tmlog*.log
/out/
